@import "bootstrap";

.heading_picture {
  background-image: url("logos/header.jpg");
  background-size: cover; 
  background-position: center center; 
  background-repeat:no-repeat; 
  height: 300px;
  width: 100%;
}

